@page
@model BookListRazor.Pages.BookList.CreateModel
@{
}

<br />
<h1 class="text-info">Create New Book</h1>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="from-group row">
            <div class="col-3">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>
            <span asp-validation-for="Book.Name" class="text-danger"></span>
        </div>
        <div class="from-group row mt-2">
            <div class="col-3">
                <label asp-for="Book.Auther"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Auther" class="form-control" />
            </div>
            <span asp-validation-for="Book.Auther" class="text-danger"></span>
        </div>
        <div class="from-group row mt-2">
            <div class="col-3 offset-4">
                <input type="submit" value="Create" class="btn btn-sm btn-primary from-control text-white" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success btn-sm text-white from-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}